<div id="page-wrapper" class="page-wrapper">
  <div id="page">

    {% if corso %} CORSO TRUE {% else %} CORSO FALSE {% endif %}

    {% if page.header or page.primary_menu or page.secondary_menu %}
      <header id="header" class="header site-header" role="banner">

        {# Gets fixed by JS at wide widths. #}
        <div class="site-header__fixable fixable">
          <div class="header__left">
            <button class="nav-primary__button" aria-controls="site-header__inner" aria-label="Toggle navigation" aria-expanded="false">
              <span class="nav-primary__icon">
                <span></span>
                <span></span>
                <span></span>
              </span>
            </button>
          </div>

          {# Needs to extend full width so box shadow will also extend. #}
          <div id="site-header__inner" class="site-header__inner">
            <div class="container site-header__inner__container">

              {{ page.header }}

              {% if page.primary_menu or page.secondary_menu %}
                <div class="mobile-buttons">
                  <button class="mobile-nav-button" aria-label="{{ 'Toggle Main Menu'|t }}" aria-controls="header-nav" aria-expanded="false">
                    <span class="mobile-nav-button__label">{{ 'Menu'|t }}</span>
                    <span class="mobile-nav-button__icon"></span>
                  </button>
                </div>

                <div id="header-nav" class="header-nav" data-menu-open="false">

                  {{ page.primary_menu }}

                  {% if page.secondary_menu %}
                    <div class="secondary-nav__wrapper">
                      {{ page.secondary_menu }}
                    </div>
                  {% endif %}
                </div>
              {% endif %}
            </div>
          </div>
        </div>
      </header>
    {% endif %}

    <div id="main-wrapper" class="layout-main-wrapper layout-container">
      <div id="main" class="layout-main">
        <main id="content" class="main-content " role="main">
          <a id="main-content" tabindex="-1"></a>
          <p>prima di hero!</p>
          {{ page.hero }}
          <p>dopo di hero!</p>
          <div class="main-content__container container">
            {{ page.highlighted }}
            {{ page.breadcrumb }}
            {{ page.content_above }}
            {% if page.sidebar %}
              <div class="sidebar-grid grid-full">
                {{ page.content }}
                {{ page.sidebar }}
              </div>
            {% else %}
              {{ page.content }}
            {% endif %}
            {{ page.content_below }}
          </div>
        </main>
        <div class="social-bar">

        </div>
      </div>
    </div>

    <footer class="site-footer">
      <div class="site-footer__inner container">
        {{ page.footer_top }}
        {{ page.footer_bottom }}
      </div>
    </footer>

    <div class="overlay"></div>

  </div>
</div>
